{% extends BASE_PATH %}
{% load i18n %}
{% block title %}{{board.name}} - blog{% endblock %}
{% block head %}
<style type="text/css">
	@import url("{{STATIC_THEME}}css/forum.css");

</style>
<script src="{{STATIC_URL}}js/board.js" type="text/javascript" ></script>
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'blog-rss' %}">
<link rel="alternate" type="application/rss+xml" title="Atom" href="{% url 'blog-atom' %}">
{% endblock %}
{% block navigation %}
{% with menu_path=THEME_PATH|add:"cms/menu.html" %}
{% include menu_path %}
{% endwith %}
{% endblock %}
{% block content %}
<div class="forum">
	<a href="{% url 'board.views.index' %}">{{CURRENT_SITE.name}}</a>&raquo; <a href ="{% url 'blog.views.index' %}">Blog</a>
</div>

{% for entry in entries.object_list %}
<div class="catglow">
	<div class="cathead-m">
		<div class="cathead-r">
			<div class="cathead-l">
				<b><a href="{% url 'blog.views.blog_post' entry.id %}">{{entry.title}} by {{entry.user}}</a></b> {{entry.created_at|timesince}}
			</div>
		</div>
	</div>
	<div class="collapsethis">
		<div class="statspanel">
			<div class="content">
				{% autoescape off %}{{entry.content|linebreaks}}{% endautoescape %}
			</div>
		</div>

	</div>
</div>
<br />
{% endfor %}

<div class="catglow">
	<div class="topic-actions">
		<div class="pagination">
			<span class="step-links"> {% if entries.has_previous %} <a href="{% url 'blog.views.index' entries.previous_page_number %}">{% trans "previous" %}</a> {% endif %} <span class="current"> {% blocktrans with entries.number as cur_page and entries.paginator.num_pages as all_pages  %}
					Page {{ cur_page }} of {{ all_pages }}.
					{% endblocktrans %} </span> {% if entries.has_next %} <a href="{% url 'blog.views.index' entries.next_page_number %}">{% trans "next" %}</a> {% endif %} </span>
		</div>
	</div>
</div>

{% endblock %}
