{% extends BASE_PATH %}
{% block head %}
<style type="text/css">
	@import url("{{STATIC_THEME}}css/forum.css");
	#profile_left {
		float: left;
		position: relative;
		width: 150px;
		padding: 2px 10px 5px;
			
		display: block;
		text-align: center;
	}
	#user_content {
		position: relative;
		/*margin-left: 180px;*/
		padding: 5px;
		display: block;
		overflow: auto;
	}
</style>
{% endblock %}
{% block content %}
<div class="forum">
	<div id="profile_left">
		{% if user.get_profile.avatar %}
		<img src="{{ STATIC_URL }}{{user.get_profile.avatar}}" />
		{% endif %}
		<p>
			<b>{{user.username}}</b>
		</p>
		{% for r in user.get_profile.get_rank.make_list %}
		<img src="{{ STATIC_THEME }}images/{{user.get_profile.get_rank.image}}" />
		{% empty %}
		<img src="{{ STATIC_THEME }}images/{{user.get_profile.get_rank.image}}" />
		{% endfor %}
		<br />
		Name: {{user.first_name}}	 {{user.last_name}}
		<br />
		{% if user.get_profile.website %}
		Website: <a href="{{user.get_profile.website}}">{{user.get_profile.website}}</a>
		<br />
		{% endif %}
	</div>
	<div id="user_content">
		Posts: {{profile.posts}}
		<br />
		Threads: {{profile.threads}}
	</div>
</div>
{% endblock %}
