.statistic_body{
   background-color: #CDCDCD;
   margin: 0px auto;
   width: 95%;
   border: 1px solid #000000;
   text-align: left;
}
.statistic{
  background-color: #EFEFEF;
  border-top: 1px solid #000000;
}