{% extends BASE_PATH %}
{% block head %}
    <style type="text/css">
    @import url("{{STATIC_THEME}}css/forum.css");

    </style>
{% endblock %}
{% block content %}
    <div class="forum">
    		<a href="{% url board.views.index %}">Silver-Boards Beta Forum</a>&raquo; <a href="{% url faq.views.index %}">FAQ</a>
    </div>
	
    <div class="forum">
    {% for cat in cats %}
    <div class="viewforum">
      <div class="viewthread"><strong>{{cat.name}}</strong></div> 
    </div>
    {% for topic in cat.topic_set.all %}
    <div class="viewforum">
      <div class="viewthread"><a href="{% url faq.views.topic topic.id %}">{{topic.question}}</a></div>
    </div> 
	{% endfor %}
	{% endfor %}
	

    </div>

{% endblock %}
