{% extends BASE_PATH %}
{% block head %}
    <style type="text/css">
    @import url("{{STATIC_THEME}}css/forum.css");

    </style>
{% endblock %}
{% block content %}
		<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="{%url 'board.views.index' %}">{{CURRENT_SITE.name}}</a></li>
	    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'faq.views.index' %}">FAQ</a></li>
	  </ol>
	</nav>
	
    <div class="my-3 p-3 bg-white rounded box-shadow">
    {% for cat in cats %}
    {%if cat.topic_set.count > 0 %}
    <div class="viewforum">
      <div class="viewthread"><strong>{{cat.name}}</strong></div> 
    </div>
    {% for topic in cat.topic_set.all %}
    <div class="viewforum">
      <div class="viewthread"><a href="{% url 'faq.views.topic' topic.id %}">{{topic.question}}</a></div>
    </div> 
    
	{% endfor %}
	{% endif %}
	{% endfor %}
	

    </div>

{% endblock %}
