{% extends BASE_PATH %}
{% block head %}
    <style type="text/css">
    @import url("{{STATIC_THEME}}css/forum.css");

    </style>
{% endblock %}
{% block content %}

		<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="{%url 'board.views.index' %}">{{CURRENT_SITE.name}}</a></li>
	    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'faq.views.index' %}">FAQ</a></li>
	  </ol>
	</nav>
    <div class="my-3 p-3 bg-white rounded box-shadow">
      <div class="viewthread"><strong>{{topic.question}}</strong></div> 
    {{topic.answer|linebreaksbr}}
    </div> 


{% endblock %}
