{% extends BASE_PATH %}
{% load i18n %}
{% load filter %}
{% block title %}{{board.name}}{% endblock %}
{% block head %}

<script src="{{STATIC_URL}}js/board.js" type="text/javascript" ></script>
{% endblock %}
{% block content %}
<div class="forum">
	<a href="{% url 'board.views.index' %}">{{CURRENT_SITE.name}}</a>&raquo; {% autoescape off %}{{board.get_path}}
	{% endautoescape %}
</div>
<br />
{% if board.get_children.count > 0 %}
<div class="catglow">
	<div class="cathead-m">
		<div class="cathead-r">
			<div class="cathead-l">
				Forum
			</div>
		</div>
	</div>
	<div class="collapsethis">
		<table class="cat" cellpadding="0" cellspacing="0" width="100%">
			{% for child in board.get_children %}
			<tr>
				<td class="forumicon">{% if child.id|is_new_board:request.user.id %} <img src="{{STATIC_THEME}}images/forum_unread.gif" width="38" height="38" alt="No unread posts" title="No unread posts" /> {% else %} <img src="{{STATIC_THEME}}images/forum_read.gif" width="38" height="38" alt="No unread posts" title="No unread posts" /> {% endif %}</td>
				<td class="forumdetails"><a href="{% url 'board.views.show_board' child.id child.get_name_for_url%}" class="forumtitle">{{child.name}}</a>
				<br>
				<span class="forum-descriptions">{{child.description}}</span></td>

				<td class="forumlastpost"><span class="fade"> {% with child.get_last_post as last_post %}
					{% if last_post %}
					{% if last_post.user.is_authenticated %}
					Last post by <a href="{% url 'users.views.show' last_post.user.id last_post.user.username %}">{{last_post.user.username}}</a><a href="{% url 'board.views.show_thread' last_post.thread.id last_post.thread.get_url_name %}#latest"><img src="{{STATIC_THEME}}images/icon_topic_latest.gif" width="11" height="9" alt="View the latest post" title="View the latest post" /></a> {%else%}
					Last post by {{last_post.guest_name}}<a href="{% url 'board.views.show_thread' last_post.thread.id last_post.thread.get_url_name %}#latest"><img src="{{STATIC_THEME}}images/icon_topic_latest.gif" width="11" height="9" alt="View the latest post" title="View the latest post" /></a> {% endif %}
					{% else %}
					No post
					{% endif%}
					{% endwith %}</span>
				<br>
				&nbsp; </td>
				<td class="forumtopics">
				<div class="statbubble">
					<span>{{child.threads}}</span>
					<br>
					Topics
				</div></td>
				<td class="forumposts">
				<div class="statbubble">
					<span>{{child.posts}}</span>
					<br>
					Posts
				</div></td>

			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endif %}
{% if threads.object_list|length > 0 %}
<br />
<div class="catglow">
	<div class="cathead-m">
		<div class="cathead-r">
			<div class="cathead-l">
				Topics
			</div>
		</div>
	</div>
	<div class="collapsethis">
		<table class="cat" cellpadding="0" cellspacing="0" width="100%">
			{% for thread in threads.object_list %}
			<tr>
				<td class="forumicon">{% if thread.id|is_new_thread:request.user.id %} <img src="{{STATIC_THEME}}images/forum_unread.gif" width="38" height="38" alt="No unread posts" title="No unread posts" /> {% else %} <img src="{{STATIC_THEME}}images/forum_read.gif" width="38" height="38" alt="No unread posts" title="No unread posts" /> {% endif %} </td>
				<td class="forumdetails"><a href="{% url 'board.views.show_thread' thread.id thread.get_url_name %}" class="topictitle">{{thread.name}}</a>
				<br />
				<span class="forum-descriptions">by <a href="{% url 'users.views.show' thread.author.id thread.author.username %}">{{thread.author.username}}</a> &raquo; {{thread.get_first_post.time_created}}</span></td>
				<td class="forumtopics">
				<div class="statbubble">
					<span>{{thread.posts}}</span>
					<br />
					Replies
				</div></td>
				<td class="forumposts">
				<div class="statbubble">
					<span>{{thread.views}}</span>
					<br />
					Views
				</div></td>
				{% with thread.get_last_post as last_post %}
				{% if last_post.user.is_authenticated %}
				<td> Last post by <a href="{% url 'users.views.show' last_post.user.id last_post.user.username %}">{{last_post.user.username}}</a><a href="{% url 'board.views.show_thread' thread.id thread.get_url_name %}#latest"><img src="{{STATIC_THEME}}images/icon_topic_latest.gif" width="11" height="9" alt="View the latest post" title="View the latest post" /></a> {%else%} <td> Last post by {{last_post.guest_name}}<a href="{% url 'board.views.show_thread' thread.id thread.get_url_name %}#latest"><img src="{{STATIC_THEME}}images/icon_topic_latest.gif" width="11" height="9" alt="View the latest post" title="View the latest post" /></a> {% endif %}
				<br />
				<span class="fade">{{last_post.time_created}}</span></td>
				{% endwith %}
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endif%}

<br />
<select name="board" onchange="boardChange();" onclick="boardChange();" id="selector">
	{% for board in boards %}
	{{board.list}}
	{% endfor %}
</select>

<div class="topic-actions">
	<div class="buttons">

		{% if rights.can_thread %}
		<div class="post-icon" title="Post a new Topic">
			<a href="{% url 'board.views.create_thread' board.id %}"> <span></span> Post a new Topic </a>
		</div>
		{% endif %}
	</div>
	
		<div class="pagination">
			<span class="step-links"> {% if threads.has_previous %} <a href="?page={{ threads.previous_page_number }}">{% trans "previous" %}</a> {% endif %} <span class="current"> {% blocktrans with threads.number as cur_page and threads.paginator.num_pages as all_pages  %}
					Page {{ cur_page }} of {{ all_pages }}.
					{% endblocktrans %} </span> {% if threads.has_next %} <a href="?page={{ threads.next_page_number }}">{% trans "next" %}</a> {% endif %} </span>
		</div>
</div>

{% endblock %}
