{% extends BASE_PATH %}
{% load i18n %}
{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
		theme : "advanced",
		mode : "specific_textareas",
		editor_selector : "inputbox",
		plugins : "bbcode",
		theme_advanced_buttons1 : "bold,italic,underline,undo,redo,link,unlink,image,forecolor,styleselect,removeformat,cleanup,code",
		theme_advanced_buttons2 : "",
		theme_advanced_buttons3 : "",
		theme_advanced_toolbar_location : "top",
		theme_advanced_toolbar_align : "center",
		theme_advanced_styles : "Code=codeStyle;Quote=quoteStyle",
		content_css : "{{ STATIC_THEME }}css/bbcode.css",
		entity_encoding : "raw",
		add_unload_trigger : false,
		remove_linebreaks : false,
		inline_styles : false,
		convert_fonts_to_spans : false
	});
	var panels = new Array('options-panel', 'attach-panel', 'poll-panel');
	var show_panel = 'options-panel';

	function insert_text(text, test) {
		tinyMCE.activeEditor.execCommand('mceInsertContent', false, text);
	}
</script>
{% endblock%}
{% block content %}

<form id="postform" method="post" action="{% url 'board.views.create_thread' board_id %}" enctype="multipart/form-data">
	{# Include the hidden fields #}
	{% for hidden in f_post.hidden_fields %}
	{{ hidden }}
	{% endfor %}
	{# Include the visible fields #}
	<div class="panel" id="postingbox">
		<div class="inner">
			<span class="corners-top"><span></span></span>

			<h3>Create a Topic</h3>

			<script type="text/javascript">
				// <![CDATA[
				onload_functions.push('apply_onkeypress_event()');
				// ]]>
			</script>

			<fieldset class="fields1">

				<dl>
					<dt>
						<label for="icon"><span style="color: #333333;">Post icon:</span></label>
					</dt>
					<dd>
						<label for="icon">
							<input type="radio" name="icon" id="icon" value="0" checked="checked" tabindex="1" />
							None</label>

					</dd>
				</dl>

				<dl style="clear: left;">
					<dt>
						<label for="subject"><span style="color: #333333;">Subject:</span></label>
					</dt>
					<dd>
						<input type="text" name="name" id="subject" size="45" maxlength="64" tabindex="2" value="{{f_thread.name.value|default:""}}" class="inputbox autowidth" />
						{{f_thread.name.errors}}
					</dd>
				</dl>
				{% if not user.is_authenticated %}
				<dl style="clear: left;">
					<dt>
						<label for="subject"><span style="color: #333333;">Guest Name:</span></label>
					</dt>
					<dd>
						<input type="text" name="guest_name" id="guest_name" size="45" maxlength="64" tabindex="2" value="{{f_post.guest_name.value|default:""}}" class="inputbox autowidth" />
						{{f_post.guest_name.errors}}
					</dd>
				</dl>				
				{% endif %}
				<div id="smiley-box">

					<strong>Smilies</strong>
					<br />
					{% for smilie in smilies %}
					<a href="#" onclick="insert_text('{{smilie.code}}', true); return false;"> <img src="{{STATIC_THEME}}images/smiles/{{smilie.smile_url}}" width="15" height="17" alt=":D" title="{{smilie.emoticon}}" /> </a>
					{% endfor %}
					<hr />
					<a href="./faq.php?mode=bbcode">BBCode</a> is <em>ON</em>
					<br />

					[img] is <em>ON</em>
					<br />
					[flash] is <em>ON</em>
					<br />
					[url] is <em>ON</em>
					<br />

					Smilies are <em>ON</em>
					<hr />
					<strong><a href="#review">Topic review</a></strong>
				</div>

				<div id="message-box">
					{{f_post.text.errors}}
					<textarea name="text" id="message" rows="15" cols="76" tabindex="4"  class="inputbox"></textarea>
				</div>
			</fieldset>

			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<div class="panel bg2">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<fieldset class="submit-buttons">

				<input type="submit" accesskey="k" tabindex="7" name="save" value="Save draft" class="button2" />
				&nbsp;
				<input type="submit" tabindex="5" name="preview" value="Preview" class="button1" onclick="document.getElementById('postform').action += '#preview';" />
				&nbsp;
				<input type="submit" accesskey="s" tabindex="6" name="post" value="Submit" class="button1 default-submit-action" />
				&nbsp;

			</fieldset>

			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<div id="tabs">
		<ul>
			<li id="options-panel-tab" class="activetab">
				<a href="#tabs" onclick="subPanels('options-panel'); return false;"><span>Options</span></a>
			</li>
			<li id="attach-panel-tab">
				<a href="#tabs" onclick="subPanels('attach-panel'); return false;"><span>Upload attachment</span></a>
			</li>
		</ul>
	</div>

	<div class="panel bg3" id="options-panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>

			<fieldset class="fields1">

				<div>
					<label for="disable_bbcode">
						<input type="checkbox" name="disable_bbcode" id="disable_bbcode" />
						Disable BBCode</label>
				</div>

				<div>
					<label for="disable_smilies">
						<input type="checkbox" name="disable_smilies" id="disable_smilies" />
						Disable smilies</label>
				</div>

				<div>
					<label for="disable_magic_url">
						<input type="checkbox" name="disable_magic_url" id="disable_magic_url" />
						Do not automatically parse URLs</label>
				</div>

				<div>
					<label for="attach_sig">
						<input type="checkbox" name="attach_sig" id="attach_sig" checked="checked" />
						Attach a signature (signatures can be altered via the UCP)</label>
				</div>

				<div>
					<label for="notify">
						<input type="checkbox" name="notify" id="notify" />
						Notify me when a reply is posted</label>
				</div>

				<div>
					<label for="lock_topic">
						<input type="checkbox" name="lock_topic" id="lock_topic" />
						Lock topic</label>
				</div>

			</fieldset>

			<input type="hidden" name="creation_time" value="1371646073" />
			<input type="hidden" name="form_token" value="141d502758f04677239a558064c555ab852cac77" />

			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<div class="panel bg3" id="attach-panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>

			<p>
				If you wish to attach one or more files enter the details below.
			</p>

			<fieldset class="fields2">
				<dl>
					<dt>
						<label for="fileupload">Filename:</label>
					</dt>
					<dd>
						<input type="file" name="fileupload" id="fileupload" maxlength="262144" value="" class="inputbox autowidth" />
						<input type="submit" name="add_file" value="Add the file" class="button2" onclick="upload = true;" />
					</dd>
				</dl>
				<dl>
					<dt>
						<label for="filecomment">File comment:</label>
					</dt>
					<dd>
						<textarea name="filecomment" id="filecomment" rows="1" cols="40" class="inputbox autowidth"></textarea>
					</dd>
				</dl>
			</fieldset>

			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<hr />

	<p>
		<a href="#postingbox" class="top2">Top</a>
	</p>

</form>
<script type="text/javascript">
	// <![CDATA[
	subPanels(show_panel);
	// ]]>
</script>
{% endblock %}

