{% extends BASE_PATH %}
{% load i18n %}
{% block content %}
<!-- Board display //-->
						<div class="forumlist">
							{% for board in boards %}
							<!-- begin category //-->
							<div class="catglow">
								<div class="cathead-m">
									<div class="cathead-r">
										<div class="cathead-l">
											<a href="{% url board.views.show_board board.id,board.get_name_for_url %}">{{board.name}}</a>
										</div>
									</div>
								</div>

								<div class="trigger active">
									<a href="https://www.phpbb.com/styles/demo/3.0/board/index.php?style=875#"></a>
								</div>
								<div class="collapsethis">
									<table class="cat" cellpadding="0" cellspacing="0" width="100%">

										<tbody>
											{% for child in board.get_children %}
											<tr>
												<td class="forumicon"><img src="{{STATIC_THEME}}images/forum_read.gif" width="38" height="38" alt="No unread posts" title="No unread posts"></td>
												<td class="forumdetails"><a href="{% url board.views.show_board child.id,child.get_name_for_url%}" class="forumtitle">{{child.name}}</a>
												<br>
												<span class="forum-descriptions">{{child.description}}</span></td>

												<td class="forumlastpost"><span class="fade">No posts</span>
												<br>
												&nbsp; </td>
												<td class="forumtopics">
												<div class="statbubble">
													<span>{{child.threads}}</span>
													<br>
													Topics
												</div></td>
												<td class="forumposts">
												<div class="statbubble">
													<span>{{child.posts}}</span>
													<br>
													Posts
												</div></td>

											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
							<br>
							<br>
							{% endfor %}
						</div>

						<script type="text/javascript">
							// <![CDATA[
							$(".forumlist").collapse({
								show : function() {
									this.animate({
										opacity : 'toggle',
										height : 'toggle'
									}, 300);
								},
								hide : function() {
									this.animate({
										opacity : 'toggle',
										height : 'toggle'
									}, 300);
								}
							});
							// ]]>
						</script>


						<br>

						<div class="catglow">
							<div class="cathead-m">
								<div class="cathead-r">
									<div class="cathead-l">
										Information
									</div>
								</div>
							</div>
							<div class="collapsethis">

								<div class="statspanel" style="background-image: url({{STATIC_THEME}}images/lock.png);">
							 		{% if user.is_authenticated %}
									 {{user.username}}<a href="{% url users.views.logout_view %}">[{% trans "Logout" %}]</a><br />
							         <strong>{% trans "private messages" %}</strong><br />
							         {% trans "New" %}: {{msg_new}}<br />
							         {% trans "Total" %}: {{msg_all}}<br />			
									{% else %}	
									<form method="post" action="{% url users.views.login_view %}">
										<fieldset class="quick-login">
											<label for="username">Username:</label>&nbsp;
											<input type="text" name="username" id="username" size="10" class="inputbox" title="Username">
											<label for="password">Password:</label>&nbsp;
											<input type="password" name="password" id="password" size="10" class="inputbox" title="Password">

											<input type="checkbox" name="autologin" id="autologin" class="tip" original-title="Log me on automatically each visit">
											&nbsp;

											<input type="submit" name="login" value="Login" class="button2">

										</fieldset>
									</form>
									{% endif %}
								</div>

								<div class="statspanel" style="background-image: url({{STATIC_THEME}}images/who-is-online.png);">
									In total there are <strong>{{users.count|add:guest_count}} </strong> users online :: {{users.count}} registered, 0 hidden and {{guest_count}} guests <!--(based on users active over the past 5 minutes)-->
									<!--<br />Most users ever online was <strong>95</strong> on Fri May 29, 2009 9:31 pm-->
									<br>
									<br>
									Registered users: 
											{% for u in users%}
											{% if not forloop.first%},{%endif%} 
											<a {% if user.is_staff%}style="color:#AA0000" {%else%} {% endif%}href="{% url users.views.show u.user.id,u.user.username%}">{{u.user.username}}</a>
											{% empty %}
											No registered users
											{% endfor %}
									<br>
									<br>
									<strong>Legend:
										{% for group in groups %}
											{%if not forloop.first %}, {%endif %}<a style="color:{% cycle '#AA0000' '#00AA00' '#CC33CC' %}">{{group}}</a>
										{% endfor %}
									</strong> 
									<br />
								</div>

								<div class="statspanel" style="background-image: url({{STATIC_THEME}}images/statistics.png);">
									Total posts <strong>{{all_posts}}</strong> • Total topics <strong>{{all_threads}}</strong> • Total members <strong>{{all_users}}</strong> • Our newest member <strong><a href="{% url users.views.show last_user.id,last_user.username%}">{{last_user.username}}</a></strong>
								</div>

							</div>
						</div>
{% endblock %}
