{% extends BASE_PATH %}
{%load i18n %}
{% block head %}

<script type="text/javascript">
	var col = '';
	function orderby(column) {
		if (col == column) {
			col = '-' + column;
		} else {
			col = column;
		}
		$.get('{% url 'users.views.index' %}?column=' + col, function(data) {
			$('#replace').html(data);
		});

	}
</script>
{% endblock %}
{% block content %}
<div id="replace">
	<div class="forumbg forumbg-table">
		<div class="inner">
			<span class="corners-top"> </span>

			<table class="table1" cellspacing="1" id="memberlist">
				<thead>
					<tr>
						<th class="name"><a href="{% url 'users.views.index' %}?column=username"  onclick="orderby('userprofile__username');return false;">Username</a></th>
						<th class="posts"><a href="{% url 'users.views.index' %}?column=userprofile__posts" onclick="orderby('userprofile__posts');return false;">Posts</a></th>
						<th class="info"><a href="{% url 'users.views.index' %}?column=userprofile__website" onclick="orderby('userprofile__website');return false;">Website</a>, <a href="{% url 'users.views.index' %}?column=location"  onclick="orderby('userprofile__location');return false;">Location</a></th>
						<th class="joined"><a href="{% url 'users.views.index' %}?column=date_joined" onclick="orderby('date_joined');return false;">Joined</a></th>

					</tr>
				</thead>
				<tbody>

					{% for user in users.object_list %}
					<tr class="bg1">
						<td><a href="{% url 'users.views.show' user.pk user.username %}">{{user.username}}</a></td>
						<td class="posts"><a href="{% url 'board.views.search' %}?type=user&user_id={{user.pk}}" title="Search user’s posts">{{user.get_profile.posts}}</a></td>
						<td class="info">&nbsp;</td>
						<td>{{user.date_joined|date:"d.M.Y" }}</td>

					</tr>
					{% endfor %}
				</tbody>
			</table>

			<span class="corners-bottom"><span> </span></span>
		</div>
	</div>
</div>

{% endblock %}
