{% extends BASE_PATH %}
{%load i18n %}
{% block head %}
<style type="text/css">
	.lbl {
		width: 200px;
		display: inline-block;
	}
	div.fieldWrapper input {
		border: 1px solid black;
	}
	legend {
		font-weight: bold;
	}
</style>
<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
		theme : "advanced",
		mode : "textareas",
		plugins : "bbcode",
		theme_advanced_buttons1 : "bold,italic,underline,undo,redo,link,unlink,image,forecolor,styleselect,removeformat,cleanup,code",
		theme_advanced_buttons2 : "",
		theme_advanced_buttons3 : "",
		theme_advanced_toolbar_location : "bottom",
		theme_advanced_toolbar_align : "center",
		theme_advanced_styles : "Code=codeStyle;Quote=quoteStyle",
		content_css : "{{ STATIC_THEME }}css/bbcode.css",
		entity_encoding : "raw",
		add_unload_trigger : false,
		remove_linebreaks : false,
		inline_styles : false,
		convert_fonts_to_spans : false
	});
	var panels = new Array('profile-panel', 'password-panel', 'user-panel');
	var show_panel = 'profile-panel';

</script>
{% endblock %}
{% block content %}
<div id="tabs">
	<ul>
		<li id="password-panel-tab">
			<a href="#tabs" onclick="subPanels('password-panel'); return false;"><span>Passwort ändern</span></a>
		</li>
		<li id="profile-panel-tab">
			<a href="#tabs" onclick="subPanels('profile-panel'); return false;"><span>Profil</span></a>
		</li>
		<li id="user-panel-tab" >
			<a href="#tabs" onclick="subPanels('user-panel'); return false;"><span>Nutzerdaten</span></a>
		</li>
	</ul>
</div>

<form method="post" action="{% url users.views.base_profile %}" enctype="multipart/form-data">

	<div class="panel bg3" id="profile-panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>

			<fieldset class="fields2">
				<legend>
					{% trans "change profile" %}
				</legend>
				{% for field in profile %}
				<div class="fieldWrapper">
					{{ field.errors }}
					<div class="lbl">
						{{ field.label_tag }}:
					</div>
					{{ field }}
				</div>
				{% endfor %}
			</fieldset>
		</div>
	</div>
	<div class="panel bg3" id="user-panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>

			<fieldset class="fields3">
				{% for field in f_user %}
				<div class="fieldWrapper">
					{{ field.errors }}
					<div class="lbl">
						{{ field.label_tag }}:
					</div>
					{{ field }}
				</div>
				{% endfor %}
			</fieldset>
		</div>
	</div>
	<div class="panel bg3" id="password-panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>

			<fieldset class="fields1">
				<legend>
					{% trans "change password" %}
				</legend>
				{% for field in f_pw %}
				<div class="fieldWrapper">
					{{ field.errors }}
					<div class="lbl">
						{{ field.label_tag }}:
					</div>
					{{ field }}
				</div>
				{% endfor %}
			</fieldset>
		</div>
	</div>
	<div class="panel bg2">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<fieldset class="submit-buttons">

				<input type="submit" accesskey="k" tabindex="7" name="save" value="{%trans 'change' %}" class="button2" />
				&nbsp;
				<input type="submit" accesskey="s" tabindex="6" name="post" value="Submit" class="button1 default-submit-action" />
				&nbsp;

			</fieldset>

			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</form>
<script type="text/javascript">
	// <![CDATA[
	subPanels(show_panel);
	// ]]>
</script>
{% endblock %}