{% extends BASE_PATH %}
{% load i18n %}

{% block head %}
<style type="text/css">
	@import url("{{STATIC_THEME}}css/forum.css");

	.lbl {
		width: 200px;
		display: inline-block;
	}


</style>
{% endblock %}
{% block content %}
		<form method="post" action="{% url 'users.views.register' %}">
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>


			<fieldset class="fields2">

				<legend>{% trans "General User Data"%}</legend>
				{% for field in form %}
				<div class="fieldWrapper">
					{{ field.errors }}
					<div class="lbl">
						{{ field.label_tag }}:
					</div>
					{{ field }}
				</div>
				{% endfor %}
			</fieldset>
			<fieldset class="fields2">

				{% for field in f_profile %}
				<div class="fieldWrapper">
					{{ field.errors }}
					<div class="lbl">
						{{ field.label_tag }}:
					</div>
					{{ field }}
				</div>
				{% endfor %}
			</fieldset>
			<input type="submit" value="register" />
		
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<h3>Confirmation of registration</h3>
	<p>To prevent automated registrations the board requires you to enter a confirmation code. The code is displayed in the image you should see below. If you are visually impaired or cannot otherwise read this code please contact the <a href="mailto:hisoka999@gmail.com">Board Administrator</a>.</p>

	<fieldset class="fields2">


	<dl>
		<dt><label for="confirm_code">Confirmation code:</label></dt>
		<dd><img src="{% url 'backend.views.captcha' %}" alt="Confirmation code" /></dd>
		<dd><input type="text" name="confirm_code" id="confirm_code" size="8" maxlength="8" tabindex="8" class="inputbox narrow" title="Confirmation code" />
		<input type="submit" name="refresh_vc" id="refresh_vc" class="button2" value="Refresh confirmation code" />
		<input type="hidden" name="confirm_id" id="confirm_id" value="1a3fed46c900cbc8a2d14dc23966ec98" /></dd>
		<dd>Enter the code exactly as it appears. All letters are case insensitive.</dd>
	</dl>


	</fieldset>
	<span class="corners-bottom"><span></span></span></div>
</div>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<fieldset class="submit-buttons">
		<input type="reset" value="Reset" name="reset" class="button2" />&nbsp;
		<input type="submit" tabindex="9" name="submit" id="submit" value="Submit" class="button1 default-submit-action" />

	</fieldset>

	<span class="corners-bottom"><span></span></span></div>
</div>
</form>

{% endblock %}