{% extends BASE_PATH %}
{% block head %}

{% endblock %}
{% block content %}

<h2>Viewing profile - {{user.username}}</h2>

<form method="post" action="{% url users.views.team %}" id="viewprofile">
	<div class="panel bg1">
		<div class="inner">
			<span class="corners-top"><span></span></span>

			<dl class="left-box details" style="width: 80%;">
				<dt>
					Username:
				</dt>
				<dd>
					<span>{{user.username}}</span>

				</dd>
				<dt>
					Rank:
				</dt>
				<dd>
					{{user.get_profile.get_rank.name}}
				</dd>
				<dt>
					&nbsp;
				</dt>
				<dd>
					{% for r in user.get_profile.get_rank.make_list %} <img src="{{ STATIC_THEME }}images/{{user.get_profile.get_rank.image}}" />
					{% empty %}
					<img src="{{ STATIC_THEME }}images/{{user.get_profile.get_rank.image}}" />
					{% endfor %}
				</dd>
				<dt>
					Groups:
				</dt>
				<dd>
					<select name="team_name">
						{%for group in user.groups.all %}
						<option value="{{group.name}}">{{group.name}}</option>
						{%endfor%}
					</select>
					<input type="submit" name="submit" value="Go" class="button2" />
				</dd>
			</dl>

			<span class="corners-bottom"><span></span></span>
		</div>
	</div>

	<div class="panel bg2">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<div class="column1">

				<h3>Contact {{user.username}}</h3>

				<dl class="details">
					<dt>
						{% if user.get_profile.avatar %} <img src="{{ STATIC_URL }}{{user.get_profile.avatar}}" />
						{% endif %}
					</dt>
					<dt>
						Website:
					</dt>
					<dd>
						{{profile.website}}
					</dd>
					<dt>
						Name:
					</dt>
					<dd>
						{{user.first_name}} {{user.last_name}}
					</dd>
				</dl>
			</div>

			<div class="column2">
				<h3>User statistics</h3>
				<dl class="details">
					<dt>
						Joined:
					</dt>
					<dd>
						{{user.date_joined	}}
					</dd>
					<dt>
						Last visited:
					</dt>
					<dd>
						{{user.last_login}}
					</dd>

					<dt>
						Total posts:
					</dt>
					<dd>
						{{profile.posts}} | <strong><a href="{% url board.views.search%}?type=user&user_id={{user.pk}}">Search user’s posts</a></strong>
						<br />
						({{posts_from_total|floatformat:2}}% of all posts / {{profile.get_posts_per_day|floatformat:2}} posts per day)
					</dd>

					<dt>
						Most active forum:
					</dt>
					<dd>
						<strong><a href="./viewforum.php?style=875&amp;f=2&amp;sid=d2f523fa6e4aa6e818b6980f53d65114">Normal Forum</a></strong>
						<br />
						(7 Posts / 77.78% of user’s posts)
					</dd>
					<dt>
						Most active topic:
					</dt>
					<dd>
						<strong><a href="./viewtopic.php?style=875&amp;t=1&amp;sid=d2f523fa6e4aa6e818b6980f53d65114">Normal Topic</a></strong>
						<br />
						(1 Post / 11.11% of user’s posts)
					</dd>

				</dl>
			</div>
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
</form>
{% endblock %}
