{% extends BASE_PATH %}
{% block head %}
    <style type="text/css">
    @import url("{{STATIC_THEME}}css/forum.css");

    </style>
{% endblock %}
{% block content %}
    <div class="forum">
    		<a href="{% url 'board.views.index' %}">Silver-Boards Beta Forum</a>&raquo; <a href="{% url 'faq.views.index' %}">FAQ</a>
    </div>
	
    <div class="forum">
    <div class="viewforum">
      <div class="viewthread"><strong>{{topic.question}}</strong></div> 
    </div>
    <div class="viewforum">
      <div class="viewthread">{{topic.answer|linebreaksbr}}</div>
    </div> 
	

    </div>

{% endblock %}
