{% extends BASE_PATH %}
{% block head %}


{%endblock %}
{% load i18n %}
{% block navigation %}
		{% with menu_path=THEME_PATH|add:"cms/menu.html" %}
		{% include menu_path %}
		{% endwith %}
{% endblock %}
{% block content %}
<!-- Board display //-->
<div class="catglow">
	<div class="cathead-m">
		<div class="cathead-r">
			<div class="cathead-l">
				Downloads
			</div>
		</div>
	</div>
	<div class="collapsethis">
		<div class="statspanel">
				<p>
					{% for item in cats.all %}
					<strong><a href="{% url 'cms.views.downloads' item.id %}">{{item.name}}</a></strong>
					<ul>
						{% for sub in item.downloadcategory_set.all %}
						<li><a href="{% url 'cms.views.downloads' sub.id %}">{{sub.name}}</a>({{sub.download_set.count}})</li>
						{% endfor %}
					</ul>
					{% endfor %}
				</p>
			</div>
		</div>
		
	</div>

</div>
<!-- board display end //-->
{% endblock %}
