{% extends BASE_PATH %}
{% load i18n %}
{%block head %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url cms-news-rss %}">
<link rel="alternate" type="application/rss+xml" title="Atom" href="{% url cms-news-atom %}">
{%endblock%}
{% block navigation %}
		{% with menu_path=THEME_PATH|add:"cms/menu.html" %}
		{% include menu_path %}
		{% endwith %}
{% endblock %}
{% block content %}
	{% for item in news %}
<div class="catglow">
	<div class="cathead-m">
		<div class="cathead-r">
			<div class="cathead-l">
				<i>{{item.time|timesince}} - </i><b>{{item.title}}</b>
			</div>
		</div>
	</div>
	<div class="collapsethis">
		<div class="statspanel">
					
				<div class="content">{% autoescape off %}{{item.content|linebreaks}}{% endautoescape %}</div>
		</div>

	</div>
</div>
	{% endfor %}
<!-- board display end //-->
{% endblock %}
