{% extends BASE_PATH %}
{% block head %}
<script src="{{ STATIC_URL }}galleria/galleria-1.2.9.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}galleria/themes/classic/galleria.classic.min.js"></script>

<script type="text/javascript">
    //Galleria.loadTheme('{{ STATIC_URL }}galleria/themes/classic/galleria.classic.min.js');
    //Galleria.run('#galleria');
    $('#galleria').galleria({
width: 700,
height: 467 
});
</script>

{%endblock %}
{% load i18n %}
{% block navigation %}
		{% with menu_path=THEME_PATH|add:"cms/menu.html" %}
		{% include menu_path %}
		{% endwith %}
{% endblock %}
{% block content %}
<!-- Board display //-->
<div class="catglow">
	<div class="cathead-m">
		<div class="cathead-r">
			<div class="cathead-l">
				{{page.topic_set.all.0.title}}
			</div>
		</div>
	</div>
	<div class="collapsethis">
		<div class="statspanel">
				<p class="content">{% autoescape off %}{{page.content|linebreaks}}{% endautoescape %}
				</p>
		</div>
		{% if page.gallery.image_set.count > 0 %}
		<div class="statspanel">
				<p>
					<h2>{% trans "Gallary" %}</h2>
				</p>
				<div id="galleria">
					{% for image in page.gallery.image_set.all %}
					 
					 <a href="{{ STATIC_URL }}/{{image.image}}"><img src="{{ STATIC_URL }}/{{image.thumb}}" data-big="{{ STATIC_URL }}/{{image.image}}" data-title="{{image.title}}"/></a>
					{% endfor %}
				</div>
			</div>
		</div>
		{% endif %}
	</div>

</div>
<!-- board display end //-->
{% endblock %}
