{% extends BASE_PATH %}
{% block head %}


{%endblock %}
{% load i18n %}
{% block navigation %}
		{% with menu_path=THEME_PATH|add:"cms/menu.html" %}
		{% include menu_path %}
		{% endwith %}
{% endblock %}
{% block content %}
<!-- Board display //-->
<div class="catglow">
	<div class="cathead-m">
		<div class="cathead-r">
			<div class="cathead-l">
				Downloads
			</div>
		</div>
	</div>
	<div class="collapsethis">
		{% if category.download_category_set.count > 0 %}
		<div class="statspanel">
			<p>
				{% for item in category.download_category_set.all %}
				<strong><a href="{% url cms.views.downloads item.id %}">{{item.name}}</a></strong>
				<ul>
					{% for sub in item.downloadcategory_set.all %}
					<li><a href="{% url cms.views.downloads sub.id %}">{{sub.name}}</a>({{sub.download_set.count}})</li>
					{% endfor %}
				</ul>
				{% endfor %}
			</p>
		</div>
		{% endif %}
		{% for dl in category.download_set.all %}
		<div class="statspanel" style="background-image: url({{STATIC_THEME}}images/types/{{dl.get_type}}.png);">
			<b>Name: </b>{{dl.name}} <br />
			<b>Size: </b>{{dl.size|filesizeformat}} <br />
			<b>Mime_type: </b> {{dl.mime_type}} <br />
			<b>Download: </b><a href="/{{dl.data.name}}">{{dl.data.name}}</a>
		</div>
		{% endfor %}
	</div>
	
</div>

<!-- board display end //-->
{% endblock %}
