
      .content
      {
        position: relative;
		/*margin-left: 180px;*/
        padding: 5px;
        display:block;
        overflow: auto;

        
      }
      .userdata{
		float: left;
		position: relative;
		width: 150px;
		padding: 2px 10px 5px;
		font-size: 11px;
		display: block;
		text-align: center;
      }


      .xxx
      {
        display: block;        
      }
      #thread_body{
        display:block;
        width: 95%;
        margin: 15px auto;
       background-color: #CDCDCD;
       border: 1px solid black;
      }
      .post
      {
		margin-bottom: 10px;
		display: block;
		width: 100%;
		position: relative;
        background-color: #EFEFEF;
      }
      .button_area{
      	float: right;
      }