.statistic_body{
   background-color: #CDCDCD;
   margin: 0px auto;
   width: 95%;
   border: 1px solid #000000;
   text-align: left;   
   	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.statistic{
  background-color: #EFEFEF;
  /*border-top: 1px solid #000000;*/
}
.statistic_header{
	font-size: larger;
	background-image:linear-gradient(#CDCDCD 50%, #EFEFEF 100%);
	text-shadow: #333333 2px 2px 3px;
	
}
