{% extends BASE_PATH %} 
{% load i18n %} 
{% block navigation %} 
{% with menu_path=THEME_PATH|add:"cms/menu.html" %} {% include menu_path %} 
{%endwith %} 
{% endblock %} 
{% block content %}
<!-- Board display //-->

<div class="row">
	<div class="col-md-8 blog-main">
		<h3 class="pb-3 mb-4 font-italic border-bottom">News
		</h3>
		{%for item in news %}
		<div class="blog-post">
			<h2 class="blog-post-title">{{item.title}}</h2>
			<p class="blog-post-meta">{{item.time}}</p>


			<p>{%autoescape off %}{{item.content|linebreaks}}{%endautoescape %}</p>
		</div>
		<!-- /.blog-post -->
		{%endfor %}
	</div>
	<!-- /.blog-main -->
	<aside class="col-md-4 blog-sidebar">
		<div class="p-3 mb-3 bg-white rounded">	
			{% block auth%} 
				{%if not user.is_authenticated %}	
				
			
				<form method="post" action="{% url 'users.views.login_view' %}">
					{% csrf_token %}
					<h4>{% trans "Login" %}</h4>
					
					  <div class="form-group">
						  <label for="username1">{%trans "Username"%}</label>
					    <input type="text" class="form-control" id="username1" aria-describedby="usernameHelp" placeholder="Enter username" name="username">
						  <small id="emailHelp" class="form-text text-muted">{%trans "We'll never share your email with
							  anyone else."%}
						  </small>
					  </div>
					  <div class="form-group">
						  <label for="exampleInputPassword1">{%trans "Password"%}</label>
					    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
					  </div>
					  <button type="submit" class="btn btn-primary">Login</button>

				</form>
			
			{% endif %}

			<form action="{% url 'set_language' %}" method="post">
			{% get_current_language as LANGUAGE_CODE %}
				<div class="input-group">
					{% csrf_token %} 
					<select class="custom-select" name="language"> 
				        
				        {% get_available_languages as LANGUAGES %}
				        {% get_language_info_list for LANGUAGES as languages %}
				        {% for language in languages %}
				            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
				                {{ language.name_local }} ({{ language.code }})
				            </option>
				        {% endfor %}
					</select> 
						<div class="input-group-append">
							<input class="btn btn-outline-secondary" type="submit" value="Go" />
						</div>
					</div>
			</form>

			{%block "sidebar" %} {%endblock%}
			{%endblock%}
		</div>


		<div class="p-3">
			<h4 class="font-italic">{%trans "Archives"%}</h4>
			<ol class="list-unstyled mb-0">
				{%for val in dates %}
				<li><a href="{% url 'cms_archive' val.year val.month_num %}">{{val.month}} {{val.year}}</a></li>
				{%endfor%}
			</ol>
		</div>


	</aside>
	<nav class="blog-pagination">
		<a class="btn btn-outline-primary" href="#">{%trans "Older"%}</a> <a
			class="btn btn-outline-secondary disabled" href="#">{%trans "Newer"%}</a>
	</nav>

</div>
<!-- /.row -->



<!-- board display end //-->
{% endblock %}
