{% extends BASE_PATH %}
{% block head %}

<link href ="{{STATIC_THEME}}css/ekko-lightbox.css" type ="text/css" />

{%endblock %}
 {% block js_scripts%} 
 <script src="{{STATIC_THEME}}js/ekko-lightbox.min.js"></script>
<script>
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
});
</script>
 {% endblock%}

{% load i18n %}
{% block navigation %}
		{% with menu_path=THEME_PATH|add:"cms/menu.html" %}
		{% include menu_path %}
		{% endwith %}
{% endblock %}
{% block content %}
<!-- Board display //-->
<div class="my-3 p-3 bg-white rounded box-shadow">
<h1>{{page.title}}</h1>
				<p class="board">
					{% autoescape off %}{{page.content}}{% endautoescape %}
				</p>
				{% if page.gallery != None %}
				<p class="boardtitle">
					<h2>{% trans "Gallary" %}</h2>
				</p>

  				{% for image in page.gallery.image_set.all %}
					 
					 <a href="{{ STATIC_URL }}/{{image.image}}" data-toggle="lightbox" data-gallery="example-gallery" data-type="image"><img src="{{ STATIC_URL }}/{{image.thumb}}" class="img-fluid"/></a>
					{% endfor %}

				{% endif %}
<!-- board display end //-->
</div>
{% endblock %}
