{% extends BASE_PATH %}
{% load i18n %}
{% block head %}
<style type="text/css">
	@import url("{{STATIC_THEME}}css/forum.css");
</style>
{% endblock %}
{% block content %}
<div class="forum">
	<a href="{% url 'board.views.index' %}">Silver-Boards Beta Forum</a>&raquo; <a href="{% url 'msg.views.inbox' %}">Inbox</a>
</div>
<form method ="post" action="{% url 'msg.views.delete' %}" style="width:100%;">

		<table style ="width:100%; border-spacing:0;">
			<tbody>
				<tr >
				<th>
				<strong>{%trans "Message" %}</strong>
			</th>
			<th>
				<strong>{% trans "Sender" %}</strong>
			</th>
			<th>
				<strong>{% trans "Time"%}</strong>
			</th>
			<th>
				<strong>{% trans "Options"%}</strong>
			</th>
		</tr>

		{% for msg in user_msg.object_list %}
		<tr>
			<td>
				{% if not msg.readed%}<strong><a href="{% url 'msg.views.msg' msg.id %}">{{msg.title}}</a></strong>{%else%} <a href="{% url 'msg.views.msg' msg.id %}">{{msg.title}}</a>
				{% endif %}
			</td>
			<td>
				{{msg.sender.username}}
			</td>
			<td>
				{{msg.time}}
			</td>
			<td>
				<input type="checkbox" name="delmsg[]" value="{{msg.id}}" />
			</td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
<div class="form_settings">
		<div class="viewforum">
			<input class="submit" type="submit" value="delete" />
		</div>

		<div class="pagination">
			<span class="step-links"> {% if msg.has_previous %} <a href="?page={{ msg.previous_page_number }}">{% trans "previous" %}</a> {% endif %} 
				<span class="current"> {% blocktrans with msg.number as cur_page and msg.paginator.num_pages as all_pages %}
					Page {{ cur_page }} of {{ all_pages }}.
					{% endblocktrans %} 
				</span> {% if msg.has_next %} <a href="?page={{ msg.next_page_number }}">{% trans "next" %}</a> {% endif %} 
			</span>
		</div>
		<div class="viewforum">
			<a href="{% url 'msg.views.create' %}" class="submit">{% trans "send message"%}</a>
		</div>

	</div>
</form>
{% endblock %}
