{% extends BASE_PATH %}
{% load i18n %}
{% block head %}
<link href="{{STATIC_THEME}}css/bootstrap-table.css" rel="stylesheet">
<link href="{{STATIC_THEME}}css/fontawesome.css" rel="stylesheet">
<style type="text/css">
<!--
@font-face {
    font-family : "fontawesome";
    src: url("../fonts/fontawesome-webfont.woff") format ("woff");
}
.fa{
	font-family : "fontawesome";
}
-->
</style>
{% endblock%}
{% block js_scripts%} 
<script src="{{STATIC_THEME}}js/fontawesome.js"></script>
<script src="{{STATIC_THEME}}js/bootstrap-table.js"></script>
<script src="{{STATIC_THEME}}js/table-formatter.js"></script>
<script type="text/javascript">
<!--
function linkFormatter(message,row,index,field){
	var result ="<a href=\"{%url 'msg.views.msg' '0' %}\">"+message+"</a>";
	if(!row.readed){
		result = "<span class=\"badge badge-secondary\">new</span> "+result;
	}
	return result.replace('0',row.pk);
}

function optionsFormatter(id){
	var result = "<a href =\"\" class=\"fa fa-trash\"> </a>";
	return result.replace('0',id);
}
function checkFormatter(value,row,index){
	return {
		
		checked: false,
		disabled: true
	};
}
//-->
</script>
{% endblock%}
{% block content %}
		<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="{%url 'board.views.index' %}">{{CURRENT_SITE.name}}</a></li>
	    <li class="breadcrumb-item active" aria-current="page">{%trans "Inbox"%}</li>
	  </ol>
	</nav>

<form method ="post" action="{% url 'msg.views.delete' %}" style="width:100%;">

	<div class="my-3 p-3 bg-white rounded box-shadow">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading"><strong>Inbox</strong></div>
				<div class="panel-body">
					<table data-toggle="table"
						data-url="{% url 'msg.views.inbox' %}"
						data-show-refresh="true" data-show-toggle="true"
						data-show-columns="true" data-search="true"
						data-select-item-name="delmsg[]" data-pagination="true"
						data-click-to-select="true"
						data-id-field="pk"
						data-unique-id ="pk"
						data-sort-name="time" data-sort-order="desc">
						<thead>
							<tr>
								<th data-field="" data-checkbox="true" ></th>
								<th data-field="title" data-sortable="true" data-formatter="linkFormatter">Message</th>
								
								<th data-field="sender__username" data-sortable="true" >Sender</th>
								<th data-field="time" data-sortable="true" data-formatter="dateFormatter">Time</th>
								<th data-field="pk" data-sortable="true" data-formatter="optionsFormatter">Options</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>

			<input class="btn btn-danger" type="submit" value="delete" />

			<a href="{% url 'msg.views.create' %}" class="btn btn-primary">{% trans "send message"%}</a>
	</div>
</form>
{% endblock %}
