{% extends BASE_PATH %}
{% load i18n %}
{% block head %}
    <style type="text/css">
    @import url("{{STATIC_THEME}}css/forum.css");

    </style>
{% endblock %}
{% block content %}
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="{%url 'board.views.index' %}">{{CURRENT_SITE.name}}</a></li>
	    <li class="breadcrumb-item"><a href="{% url 'msg.views.inbox' %}">{%trans "Inbox"%}</a></li>
	    <li class="breadcrumb-item active" aria-current="page">{{msg.title}}</li>
	  </ol>
	</nav>
	
	
    <div class="my-3 p-3 bg-white rounded box-shadow">
   		<div class="row">
        	<div class="col-sm">
				{%trans 'sender' %}:
        	</div>
        	<div class="col-sm">
        		{{msg.sender}}
        	</div>
        </div>
   		<div class="row">
        	<div class="col-sm">
				{%trans 'title' %}:
        	</div>
        	<div class="col-sm">
        		{{msg.title}}
        	</div>
        </div>
           		<div class="row">
        	<div class="col-sm">
				{%trans 'time' %}:
        	</div>
        	<div class="col-sm">
        		{{msg.time}}
        	</div>
        </div>
        <hr />
   		<div class="viewforum">
        	<div class="viewthread">
				{%trans 'Content' %}:
        	</div>
        	<div class="viewthread">
        		{% autoescape off %}{{msg.get_clean_msg|linebreaks}}{% endautoescape %}
        	</div>
        </div>        
    </div>

{% endblock %}
