{% load i18n %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{{CURRENT_SITE.name}}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{STATIC_THEME}}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{STATIC_THEME}}css/offcanvas.css" rel="stylesheet">
    {% block head%}{% endblock %}
  </head>

  <body class="bg-light">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <a class="navbar-brand mr-auto mr-lg-0" href="#">{{CURRENT_SITE.name}}</a>
      <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
        <span class="navbar-toggler-icon"></span>
      </button>
	  <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
	{% block navigation %}
		
			<li class="nav-item active">
			 <a class="nav-link" href="/">{% trans "Home" %}</a></li>
		 {% if user.is_authenticated %}
			<li class="nav-item"><a class="nav-link" href="{% url 'users.views.base_profile' %}">{% trans "Profile"%}</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'msg.views.inbox' %}">{% trans "Inbox" %}</a></li> 
			{% else %}
			<li class="nav-item"><a class="nav-link" href="{% url 'users.views.register' %}">{% trans "Register" %}</a></li> 
			{% endif %}
			<li class="nav-item"><a class="nav-link" href="{% url 'users.views.index' %}">{% trans "Users" %}</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'users.views.team' %}">{% trans "Team" %}</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'faq.views.index' %}">{% trans "FAQ"%}</a></li> 
			{% if user.is_staff %}
			<li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">{% trans "Administration" %}</a></li> 
			{% endif %} 
	{% endblock %}
        </ul>
        <form action="{% url 'board.views.search' %}" method="get"
					id="search" class="form-inline my-2 my-lg-0">
          <input name="keywords" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    
        <div class="nav-scroller bg-white box-shadow">
      <nav class="nav nav-underline">
			<li class="nav-item active">
			 <a class="nav-link" href="{% url 'board.views.index' %}">{% trans "Forum" %}</a></li>
		 {% if user.is_authenticated %}
			<li class="nav-item"><a class="nav-link" href="{% url 'users.views.base_profile' %}">{% trans "Profile"%}</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'msg.views.inbox' %}">{% trans "Inbox" %}
			<span class="badge badge-pill bg-light align-text-bottom">{{msg_new}}</span>
			</a></li> 
			{% else %}
			<li class="nav-item"><a class="nav-link" href="{% url 'users.views.register' %}">{% trans "Register" %}</a></li> 
			{% endif %}
			<li class="nav-item"><a class="nav-link" href="{% url 'users.views.index' %}">{% trans "Users" %}</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'users.views.team' %}">{% trans "Team" %}</a></li>
			<li class="nav-item"><a class="nav-link" href="{% url 'faq.views.index' %}">{% trans "FAQ"%}</a></li> 
      </nav>
    </div>
    
    
	<main role="main" class="container">

				<div iclass="container">
					{% if messages %}
					  {% for message in messages %}
					<div {% if message.tags %} class="msg_{{ message.tags }}"{% endif %}>
					    <li>{{ message }}</li>
					</div>
					{% endfor %}
					{% endif %}
				
					{% block content%} {% endblock %}
				</div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{{STATIC_THEME}}js/vendor/popper.min.js"></script>
    <script src="{{STATIC_THEME}}js/bootstrap.min.js"></script>
    <script src="{{STATIC_THEME}}js/vendor/holder.min.js"></script>
    <script src="{{STATIC_THEME}}js/offcanvas.js"></script>
  </body>
</html>
