{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Silver-Boards Beta Forum- Forenliste</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<style type="text/css">
@import url("{{STATIC_THEME}}css/global.css");

@import url("{{STATIC_THEME}}css/header.css");

</style>
<script type="text/javascript" src="{{ STATIC_URL }}js/prototype.js"></script>
{% block head%}{% endblock %}


</head>
<body class="body">
	<div id="main">
		<!-- Header //-->
		<div id="header">
			
			<div id="logo">
				<!-- class="logo_colour", allows you to change the colour of the text -->
				<h1>
					<a href="index.html"><span class="logo_colour">{{CURRENT_SITE.name}}</span></a>
				</h1>
				<h2>Simple. Contemporary. Website Template.</h2>
			</div>
		</div>
			<div id="menubar">
				<ul id="menu">
				{% block navigation %}
					
					<li class="selected">
						 <a href="/">{% trans "Home" %}</a></li>
					 {% if user.is_authenticated %}
						<li><a href="{% url 'users.views.base_profile' %}">{% trans "Profile"%}</a></li>
						<li><a href="{% url 'msg.views.inbox' %}">{% trans "Inbox" %}</a></li> 
						{% else %}
						<li><a href="{% url 'users.views.register' %}">{% trans "Register" %}</a></li> 
						{% endif %}
						<li><a href="{% url 'users.views.index' %}">{% trans "Users" %}</a></li>
						<li><a href="{% url 'users.views.team' %}">{% trans "Team" %}</a></li>
						<li><a href="{% url 'faq.views.index' %}">{% trans "FAQ"%}</a></li> 
						{% if user.is_staff %}
						<li><a href="{% url 'admin:index' %}">{% trans "Administration" %}</a></li> 
						{% endif %} 
			{% endblock %}
			</ul>
			</div>
			
			<!-- Header Ende //-->

			<div id="site_content">
				<div class="sidebar">
					{% block auth%} {% if user.is_authenticated %} {{user.username}}<a
						href="{% url 'users.views.logout_view' %}">[{% trans "Logout"%}]</a><br /> <strong>{% trans "private messages" %}</strong><br />
					{% trans "New" %}: {{msg_new}}<br /> {% trans "Total" %}:
					{{msg_all}}<br /> {% else %}
					<form method="post" action="{% url 'users.views.login_view' %}">
						{% csrf_token %}
						<h1>{% trans "Login" %}</h1>
						{{auth_form}}
						<input type="submit" value="{% trans 'login' %}" />
					</form>
					{% endif %}
					<form action="{% url 'django.views.i18n.set_language' %}"
						method="post">
						{% csrf_token %}
						<select name="language"> {% for lang in LANGUAGES %}
							<option value="{{ lang.0 }}">{{ lang.1 }}</option> {% endfor %}
						</select>
						<input type="submit" value="Go" />
					</form>
					{% endblock %}
					{%block "sidebar" %} {% endblock%}
				</div>
				<div id="content">
					{% if messages %}
					  {% for message in messages %}
					<div {% if message.tags %} class="msg_{{ message.tags }}"{% endif %}>
					    <li>{{ message }}</li>
					</div>
					{% endfor %}
					{% endif %}
				
					{% block content%} {% endblock %}
				</div>

		</div>
		<div id="footer">
			<a href="http://www.silver-boards.de">Silver Boards Version
				{{version}} </a> &copy; 2011-2015 by Stefan L&uuml;dtke
	
		</div>

	</div>
</body>
</html>
