{% extends BASE_PATH %}
{% load i18n %}
{% block head %}
    <script src="{{STATIC_URL}}js/board.js" type="text/javascript" ></script>

{% endblock %}
{% block content %}
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="{%url 'board.views.index' %}">{{CURRENT_SITE.name}}</a></li>
	    {%for sub in board.get_breadcrumb %}
	    	{% if sub == board %}
	    	<li class="breadcrumb-item active" aria-current="page">{{sub.name}}</li>
	    	{% else %}
	    	<li class="breadcrumb-item"><a href="{%url 'board.views.show_board' sub.id sub.get_name_for_url %}">{{sub.name}}</a></li>
	    	{%endif%}
	    {%endfor %}
	  </ol>
	</nav>


    {% if board.get_children.count > 0 %}
    <div class="my-3 p-3 bg-white rounded box-shadow">
		<div>
		{% for child in board.get_children %}
			<p><a href="{% url 'board.views.show_board' child.id child.get_name_for_url %}">{{child.name}}</a></p>
		{% endfor %}
		</div>     
    </div>
    {% endif %}
    
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">{{board.name}}</h6>
    {% for thread in threads.object_list %}
        
        <div class="media text-muted pt-3">
          <img data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded">
          <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div class="d-flex justify-content-between align-items-center w-100">
              <strong class="text-gray-dark">
              {% if thread.moved_from == board %}<span class="badge badge-secondary">moved</span>{% endif %}
              {% if thread.is_new %}<span class="badge badge-secondary">new</span>{% endif %}
              <a href="{% url 'board.views.show_thread' thread.id thread.get_url_name %}">{{thread.name}}</a></strong>
              <a href="{% url 'board.views.show_thread' thread.id thread.get_url_name %}#last">{%trans "last post"%}</a>
            </div>
            <span class="d-block">{% trans "Answers" %} : {{thread.posts}}</span>
					
					
      {% with thread.get_last_post as last_post %}
      <span  class="d-block">	        <b><a href="{% url 'board.views.show_thread' thread.id thread.get_url_name %}#last">{%trans "last post"%}</a></b> von
      	{% if last_post.user.is_authenticated %} 
        <b><a href="{% url 'users.views.show' last_post.user.id last_post.user.username %}">{{thread.get_last_post.user}}</a></b>
        {% else %} <b>{{last_post.guest_name}}</b> {% endif %}
         am 
        <i>{{thread.get_last_post.time_created}}</i>
        
        </span>
        {% endwith %}  
          </div>
        </div>
        {%endfor %}
      </div>
		
	
	<select name="board" onchange="boardChange();" onclick="boardChange();" id="selector" class="form-control form-control-lg">
	{% for board in boards %}
		{{board.list}}
	{% endfor %}
	</select>
		<nav aria-label="Page navigation example">
		  <ul class="pagination">
		  	{% if threads.has_previous %} 
		    <li class="page-item">
		      <a class="page-link" href="{% url 'board.views.show_board' board.id %}?page={{entries.previous_page_number}}" aria-label="Previous">
		        <span aria-hidden="true">&laquo;</span>
		        <span class="sr-only">Previous</span>
		      </a>
		    </li>
		    {%endif %}
		    {%for page in threads.paginator.page_range %}
		    {%if threads.number == page %}
		    <li class="page-item active"><a class="page-link" href="{% url 'board.views.show_board' board.id %}?page={{page}}">{{page}}</a></li>
		    {%else %}
		    <li class="page-item"><a class="page-link" href="{% url 'board.views.show_board' board.id %}?page={{page}}">{{page}}</a></li>
		    {%endif%}
		    {%endfor %}
		    {% if threads.has_next %} 
		    <li class="page-item">
		      <a class="page-link" href="{% url 'board.views.show_board' board.id %}?page={{entries.next_page_number}}" aria-label="Next">
		        <span aria-hidden="true">&raquo;</span>
		        <span class="sr-only">Next</span>
		      </a>
		    </li>
		    {%endif%}
		  </ul>
		</nav>
    <div class="viewforum">
    {% if rights.can_thread %}
      <a href="{% url 'board.views.create_thread' board.id %}" class="btn btn-primary">{% trans "create thread"%}</a>
    {% endif %}
    </div>
 
{% endblock %}
