{% extends BASE_PATH %}
{% load i18n %}
{% block head %}
<link rel="stylesheet" href="{{ STATIC_URL }}/css/editor_themes/default.min.css"/>
<script src="{{ STATIC_URL }}/js/sceditor.min.js"></script>
<script src="{{ STATIC_URL }}/js/formats/bbcode.js"></script>
<link href="{{STATIC_THEME}}css/ekko-lightbox.css" type="text/css"/>


   <style type="text/css">
    @import url("{{STATIC_THEME}}css/forum.css");
    </style>
{% endblock%}
{% block content %}
{% if preview %}
<div class="forum">
	<h2>{% trans 'Preview' %}</h2> <br/>
	<pre>{% autoescape off %}{{post.get_cleaned_post}}{% endautoescape %}</pre>
</div>
{% endif %}
<div class="form_settings">	
	<h3>{% trans 'edit post' %}</h3>
	<form method="post" action="{% url 'board.views.edit_post' post_id %}">
			{% for field in f_post %}
			<p>
				{{ field.errors }}
				<span>
					{{ field.label_tag }}
				</span>
				{{ field }}
			</p>
			{% endfor %}
		<p>
		<input class="submit" type="submit" name="submit" value="{% trans 'edit' %}" />
		<input class="submit" type="submit" name="preview" value="{% trans 'preview' %}"/>
		</p>
	</form>
</div>
<script>
// Replace the textarea #example with SCEditor
var textarea = document.getElementById('id_text');
sceditor.create(textarea, {
	format: 'bbcode',
	emoticonsRoot: '{{ STATIC_URL }}images/',
	width: "100%",
	height:300
});

</script>
{% endblock %}
