{% extends BASE_PATH %}
{% block head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/prototype.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript">
	LightboxOptions = Object.extend({
    fileLoadingImage:        '{{ STATIC_THEME }}images/loading.gif',     
    fileBottomNavCloseImage: '{{ STATIC_THEME }}images/closelabel.gif',


    overlayOpacity: 0.8,   // controls transparency of shadow overlay

    animate: true,         // toggles resizing animations
    resizeSpeed: 7,        // controls the speed of the image resizing animations (1=slowest and 10=fastest)

    borderSize: 10,         //if you adjust the padding in the CSS, you will need to update this variable

	// When grouping images this is used to write: Image # of #.
	// Change it for non-english localization
	labelImage: "Image",
	labelOf: "of"
}, window.LightboxOptions || {});
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lightbox.js?path={{ STATIC_URL }}"></script>
<link rel="stylesheet" href="{{STATIC_THEME}}css/lightbox.css" type="text/css" media="screen" />
<script type="text/javascript" src="{{ STATIC_URL }}tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
        theme : "advanced",
        mode : "textareas",
        plugins : "bbcode",
        theme_advanced_buttons1 : "bold,italic,underline,undo,redo,link,unlink,image,forecolor,styleselect,removeformat,cleanup,code",
        theme_advanced_buttons2 : "",
        theme_advanced_buttons3 : "",
        theme_advanced_toolbar_location : "bottom",
        theme_advanced_toolbar_align : "center",
        theme_advanced_styles : "Code=codeStyle;Quote=quoteStyle",
        content_css : "{{ STATIC_THEME }}css/bbcode.css",
        entity_encoding : "raw",
        add_unload_trigger : false,
        remove_linebreaks : false,
        inline_styles : false,
        convert_fonts_to_spans : false
});
</script>
   <style type="text/css">
    @import url("{{STATIC_THEME}}css/forum.css");
    </style>
{% endblock%}
{% block content %}
{% if preview %}
<div class="forum">
	<b>{% trans 'Preview' %}</b> <br/>
	<pre>{% autoescape off %}{{post.get_cleaned_post}}{% endautoescape %}</pre>
</div>
{% endif %}
<div class="forum">	
	<h3>{% trans 'edit post' %}</h3>
	<form method="post" action="{% url board.views.edit_post post_id %}">
		{{f_post}}
		<br />
		<input type="submit" name="submit" value="{% trans 'edit' %}" />
		<input type="submit" name="preview" value="{% trans 'preview' %}"/>
	</form>
</div>
{% endblock %}
