{% extends BASE_PATH %}
{% load i18n %}
{% block navigation %} 
{% with menu_path=THEME_PATH|add:"cms/menu.html" %} {% include menu_path %} 
{%endwith %} 
{% endblock%}
{% block content %}
<!-- Board display //-->
<div class="my-3 p-3 bg-white rounded box-shadow">

	{% for board in boards %}
	<!-- begin category //-->
	<h3>
		<a href="{% url 'board.views.show_board' board.id board.get_name_for_url%}">{{board.name}}</a>
	</h3>
		{% for child in board.get_children %}
		<table style ="width:100%; border-spacing:0;">
			<tbody>
				<tr >
					<th colspan ="3"><a href="{% url 'board.views.show_board' child.id child.get_name_for_url%}">{{child.name}}</a></th>
				</tr>
				<tr>
					<td>
					{% trans "Moderators" %}:
					{% for mod in child.moderators.all %}
					<a href="{% url 'users.views.show' mod.id mod.username %}">{{mod.username}}</a>{% if not forloop.last %},{% endif %}
					{% endfor %}
					</td>
				
			<td>
				{% blocktrans with child.threads as c_threads and child.posts as c_posts%}Threads: {{c_threads}} and Posts:{{c_posts}}{% endblocktrans %}
			</td>
			<td>
				{% trans "last post"%}
			</td>
			</tr>
			</tbody>
		</table>
		{% endfor %}
	<!-- end category //-->
	{% endfor %}
</div>

<!-- board display end //-->


{% endblock %}

{%block "sidebar" %}
<br />
<h4>{% blocktrans with users.count as user_count %}There are {{user_count}} users and {{guest_count}} guests online.{% endblocktrans %}
	</h4>
	<p>
		{% for u in users%} <a href="{% url 'users.views.show' u.user.id u.user.username%}">{{u.user.username}}</a>,
		{% endfor %}
	</p>

<h4>		{%trans "statistics" %}</h4>

	<div class="board_cat">
		{% blocktrans %}This community does have {{all_user}} user, {{all_threads}} threads {{all_posts}}
		and posts. The last user that registrated himself was {% endblocktrans %}<a href="{% url 'users.views.show' last_user.id last_user.username%}">{{last_user.username}}</a>
	</div>

{%endblock%}
