{% extends BASE_PATH %}
{% load i18n %}
{% block head %}
    <style type="text/css">
    @import url("{{STATIC_THEME}}css/forum.css");

    </style>
    <meta http-equiv="REFRESH" content="3; url={% url board.views.show_board board.id, board.name %}" />
{% endblock %}
{% block content %}
    <div class="forum">
    		<a href="{% url board.views.index %}">Silver-Boards Beta Forum</a>&raquo; <a href="{% url board.views.show_board board.id,board.name %}">{{board.name}}</a>
    </div>
	
    <div class="forum">
 		<div class="viewforum">
 			<h1>{% trans "The thread was successfully deleted."%}</h1>
 			{% url board.views.show_board board.id, board.name as reurl %}
 	   		{% blocktrans %}
 	   			You will be redirected automatically to the board of the thread. <br />
 	   			If this does not work, please click <a href="{{reurl}}">here</a>.
 	   		{% endblocktrans%}
    	</div>	

    </div>

{% endblock %}
