{% extends BASE_PATH %}
{% load i18n %}
{% block head %}
    <style type="text/css">
    @import url("{{STATIC_THEME}}css/forum.css");

    </style>
{% endblock %}
{% block content %}
    <div class="forum">
    		<a href="{% url 'board.views.index' %}">Silver-Boards Beta Forum</a>&raquo; 
    </div>
	
    <div class="forum">
 		<div class="viewforum">
 			<h1>{% trans "Move thread."%}</h1>
			<form method="post" action="{% url 'board.views.move_thread' thread.id %}">
			    {% for hidden in f_move.hidden_fields %}
    				{{ hidden }}
    			{% endfor %}
			{% for field in f_move %}
        		<div class="fieldWrapper">
            		{{ field.errors }}
            		<div class="lbl">{{ field.label_tag }} </div>{{ field }}
        		</div>
    		{% endfor %}
    			<input type="submit" value="{%trans 'move thread' %}" />
			</form>
    	</div>	

    </div>

{% endblock %}
