{% extends BASE_PATH %}
{% load i18n %}
{% block head %}
    <style type="text/css">
    @import url("{{STATIC_THEME}}css/forum.css");

    </style>
{% endblock %}
{% block content %}
    <div class="forum">
    		<a href="{% url 'board.views.index' %}">{{CURRENT_SITE.name}}</a>&raquo; <a href="{% url 'msg.views.inbox' %}">Inbox</a>
    </div>
	
    <div class="forum">
   		<div class="viewforum">
        	<div class="viewthread">
				{%trans 'sender' %}:
        	</div>
        	<div class="viewthread">
        		{{msg.sender}}
        	</div>
        </div>
   		<div class="viewforum">
        	<div class="viewthread">
				{%trans 'title' %}:
        	</div>
        	<div class="viewthread">
        		{{msg.title}}
        	</div>
        </div>
   		<div class="viewforum">
        	<div class="viewthread">
				{%trans 'Content' %}:
        	</div>
        	<div class="viewthread">
        		<pre>{% autoescape off %}{{msg.get_clean_msg}}{% endautoescape %}<br /></pre>
        	</div>
        </div>        
    </div>

{% endblock %}
