{% extends BASE_PATH %}
{% load i18n %}
{% block head %}
    <style type="text/css">
    @import url("{{STATIC_THEME}}css/forum.css");

    </style>
    <meta http-equiv="REFRESH" content="3; url={% url msg.views.inbox %}" />
{% endblock %}
{% block content %}
    <div class="forum">
    		<a href="{% url board.views.index %}">Silver-Boards Beta Forum</a>&raquo; <a href="{% url msg.views.inbox %}">Inbox</a>
    </div>
	
    <div class="forum">
 		<div class="viewforum">
 			<h1>{% trans "The message was successfully created."%}</h1>
 			{% url msg.views.inbox as reurl %}
 	   		{% blocktrans %}
 	   			You will be redirected automatically to you inbox. <br />
 	   			If this does not work, please click <a href="{{reurl}}">here</a>.
 	   		{% endblocktrans%}
    	</div>	

    </div>

{% endblock %}
