{% extends BASE_PATH %}
{% load i18n %}
{% block head %}
<style type="text/css">
	@import url("{{STATIC_THEME}}css/forum.css");
</style>
{% endblock %}
{% block content %}
<div class="forum">
	<a href="{% url 'board.views.index' %}">Silver-Boards Beta Forum</a>&raquo; <a href="{% url 'msg.views.inbox' %}">Inbox</a>
</div>
<form method ="post" action="{% url 'msg.views.delete' %}" style="width:100%;">
	<div class="forum">

		<div class="viewforum">
			<div class="viewthread">
				<strong>{%trans "Message" %}</strong>
			</div>
			<div class="viewthread">
				<strong>{% trans "Sender" %}</strong>
			</div>
			<div class="viewthread">
				<strong>{% trans "Time"%}</strong>
			</div>
			<div class="viewthread">
				<strong>{% trans "Options"%}</strong>
			</div>
		</div>

		{% for msg in user_msg.object_list %}
		<div class="viewforum">
			<div class="viewthread">
				{% if not msg.readed%}<strong><a href="{% url 'msg.views.msg' msg.id %}">{{msg.title}}</a></strong>{%else%} <a href="{% url 'msg.views.msg' msg.id %}">{{msg.title}}</a>
				{% endif %}
			</div>
			<div class="viewthread">
				{{msg.sender.username}}
			</div>
			<div class="viewthread">
				{{msg.time}}
			</div>
			<div class="viewthread">
				<input type="checkbox" name="delmsg[]" value="{{msg.id}}" />
			</div>
		</div>
		{% endfor %}
		<div class="viewforum">
			<input type="submit" value="delete" />
		</div>

		<div class="pagination">
			<span class="step-links"> {% if messages.has_previous %} <a href="?page={{ messages.previous_page_number }}">{% trans "previous" %}</a> {% endif %} <span class="current"> {% blocktrans with messages.number as cur_page and messages.paginator.num_pages as all_pages %}
					Page {{ cur_page }} of {{ all_pages }}.
					{% endblocktrans %} </span> {% if messages.has_next %} <a href="?page={{ messages.next_page_number }}">{% trans "next" %}</a> {% endif %} </span>
		</div>
		<div class="viewforum">
			<a href="{% url 'msg.views.create' %}" class="button">{% trans "send message"%}</a>
		</div>

	</div>
</form>
{% endblock %}
