{% extends BASE_PATH %}

{% load i18n %}
{% block navigation %}
		{% with menu_path=THEME_PATH|add:"cms/menu.html" %}
		{% include menu_path %}
		{% endwith %}
{% endblock %}
{% block content %}
<!-- Board display //-->
<div class="forum">
	{% for item in news %}
	<div class="category_cat">
		<div class="board_cat">
			<div class="board_info">
				<p class="boardtitle">
					<i>{{item.time}} - </i><b>{{item.title}}</b>
				</p>
				<p class="board">
					<pre>{% autoescape off %}{{item.content}}</pre>{% endautoescape %}
				</p>
			</div>
		</div>
		<div class="spacer"></div>
	</div>
	{% endfor %}

</div>
<!-- board display end //-->
{% endblock %}
