{% extends BASE_PATH %}
{%load i18n %}
{% block head %}
<link href="{{STATIC_THEME}}css/bootstrap-table.css" rel="stylesheet">
<link href="{{STATIC_THEME}}css/fontawesome.css" rel="stylesheet">
<style type="text/css">
<!--
@font-face {
    font-family : "fontawesome";
    src: url("{{STATIC_THEME}}/fonts/fontawesome-webfont.woff") format ("woff");
}
.fa{
	font-family : "fontawesome";
}
-->
</style>
{% endblock%}
{% block js_scripts%} 
<script src="{{STATIC_THEME}}js/fontawesome.js"></script>
<script src="{{STATIC_THEME}}js/bootstrap-table.js"></script>
<script src="{{STATIC_THEME}}js/table-formatter.js"></script>

<script type="text/javascript">
{% get_current_language as LANGUAGE_CODE %}
<!--
function linkFormatter(link,row){
	var result ="<a href=\"{%url 'users.views.show' '0' %}\">"+link+"</a>";
	return result.replace('0',row.pk);
}
$('#table').bootstrapTable({
  locale: 'de-DE'
})

function dateFormatterLocal(value){
    var date = new Date(value);
	 var locale = "{{LANGUAGE_CODE}}";
    return date.toLocaleDateString(locale)
}

//-->
</script>
{% endblock%}
{% block content %}

<div class="my-3 p-3 bg-white rounded box-shadow">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading"><strong>{%trans "Users"%}</strong></div>
				<div class="panel-body">
					<table data-toggle="table"
						data-url="{% url 'users.views.index' %}"
						data-show-refresh="true" data-show-toggle="true"
						data-show-columns="true" data-search="true"
						data-select-item-name="toolbar" data-pagination="true"
						data-sort-name="username" data-sort-order="asc">
						<thead>
							<tr>
								<th data-field="username" data data-sortable="true" data-formatter="linkFormatter">{%trans "User Name"%}</th>
								<th data-field="last_login" data-sortable="true" data-formatter="dateFormatterLocal">{%trans "Last Login"%}</th>
								<th data-field="profile__posts" data-sortable="true">{%trans "Posts" %}</th>
								<th data-field="profile__threads" data-sortable="true">{%trans "Threads" %}</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
