{% extends BASE_PATH %}
{%load i18n %}
{% block head %}
<style type="text/css">
	@import url("{{STATIC_THEME}}css/forum.css");
</style>
<script type="text/javascript">
var col = '';
	function orderby(column){
		if (col == column){
			col = '-'+column;
		}else{
			col = column;
		}
	  new Ajax.Updater('user_content', '{% url users.views.index %}?column='+col, {
  method: 'get'});
 }
</script>
{% endblock %}
{% block content %}
<div class="forum" id="user_content">

	<div class="viewforum">
		<div class="viewthread">
			<strong><a href="#" onclick="orderby('username')">{%trans "username" %}</a></strong>
		</div>
		<div class="viewthread">
			<strong><a href="#" onclick="orderby('userprofile__posts')">{%trans "posts" %}</a></strong>
		</div>
		<div class="viewthread">
			<strong><a href="#" onclick="orderby('userprofile__threads')">{%trans "threads" %}</a></strong>
		</div>
	</div>
	{% for user in users.object_list %}
	<div class="viewforum">
		<div class="viewthread">
			<a href="{% url users.views.show user.pk,user.username %}">{{user.username}}</a></td>
		</div>
		<div class="viewthread">
			{{user.get_profile.posts}}
		</div>
		<div class="viewthread">
			{{user.get_profile.threads}}
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}
