{% extends BASE_PATH %}
{%load i18n %}
{% block head %}
<style type="text/css">
	@import url("{{STATIC_THEME}}css/forum.css");
</style>
<script type="text/javascript">
var col = '';
	function orderby(column){
		if (col == column){
			col = '-'+column;
		}else{
			col = column;
		}
	  new Ajax.Updater('user_content', '{% url 'users.views.index' %}?column='+col, {
  method: 'get'});
 }
</script>
{% endblock %}
{% block content %}
	<table style ="width:100%; border-spacing:0;">
		<tbody>
			<tr>
			<th>
				<strong><a href="#" onclick="orderby('username')">{%trans "username" %}</a></strong>
			</th>
			<th>
			<strong><a href="#" onclick="orderby('userprofile__posts')">{%trans "posts" %}</a></strong>
		</th>
		<th>
			<strong><a href="#" onclick="orderby('userprofile__threads')">{%trans "threads" %}</a></strong>
		</th>
	</tr>
	{% for user in users.object_list %}
	<tr>
		<td>
			<a href="{% url 'users.views.show' user.pk user.username %}">{{user.username}}</a>
		</td>
		<td>
			{{user.get_profile.posts}}
		</td>
		<td>
			{{user.get_profile.threads}}
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>

{% endblock %}
