{%load i18n %}
	<table style ="width:100%; border-spacing:0;">
		<tbody>
			<tr>
			<th>
				<strong><a href="#" onclick="orderby('username')">{%trans "username" %}</a></strong>
			</th>
			<th>
			<strong><a href="#" onclick="orderby('profile__posts')">{%trans "posts" %}</a></strong>
		</th>
		<th>
			<strong><a href="#" onclick="orderby('profile__threads')">{%trans "threads" %}</a></strong>
		</th>
	</tr>
	{% for user in users.object_list %}
	<tr>
		<td>
			<a href="{% url 'users.views.show' user.pk user.username %}">{{user.username}}</a>
		</td>
		<td>
			{{user.profile.posts}}
		</td>
		<td>
			{{user.profile.threads}}
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>