{% extends BASE_PATH %}
{%load i18n %}
{% block head %}
<style type="text/css">
	@import url("{{STATIC_THEME}}css/forum.css");
/*	.lbl {
		width: 200px;
		display: inline-block;
	}
	input[type="text"],[type="url"],[type="password"] {
		border: 1px solid black;
	}
	legend {
		font-weight: bold;
	}
	fieldset {
	
		margin: 5px;
	}
	*/
</style>
{% endblock %}
{% block content %}
<div class="my-3 p-3 bg-white rounded box-shadow">
	{% if commit %}
	<p>
		<strong>{%trans "Your changes were saved."%}</strong>
	</p>
	{% endif %}
	<form method="post" action="{% url 'users.views.base_profile' %}" enctype="multipart/form-data">

		<fieldset class="form-group">
			<legend>
				{% trans "change password" %}
			</legend>
			<div class="row">
			{% for field in f_pw %}
				{{ field.errors }}
			<label for ="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
			<div class="col-sm-10">
				{{ field }}
			</div>
			{% endfor %}
			</div>
		</fieldset>		

		<fieldset class="form-group">
					<legend>
				{% trans "change profile" %}
			</legend>
			<div class="row">
			{% for field in profile %}
				{{ field.errors }}
			<label for ="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
			<div class="col-sm-10">
				{{ field }}
			</div>
			{% endfor %}
			</div>
		</fieldset>
		
		<fieldset class="form-group">
			<div class="row">
			{% for field in f_user %}
				{{ field.errors }}
			<label for ="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
			<div class="col-sm-10">
				{{ field }}
			</div>
			{% endfor %}
			</div>
		</fieldset>
	<div class="form-group row">
    	<div class="col-sm-10">
      		<button type="submit" class="btn btn-primary">{%trans 'change' %}</button>
    	</div>
  	</div>
		</p>
	</form>
</div>
{% endblock %}