{% extends BASE_PATH %}
{%load i18n %}
{% block head %}
<style type="text/css">
	@import url("{{STATIC_THEME}}css/forum.css");
/*	.lbl {
		width: 200px;
		display: inline-block;
	}
	input[type="text"],[type="url"],[type="password"] {
		border: 1px solid black;
	}
	legend {
		font-weight: bold;
	}
	fieldset {
	
		margin: 5px;
	}
	*/
</style>
{% endblock %}
{% block content %}
<div class="form_settings">
	{% if commit %}
	<p>
		<strong>{%trans "Your changes were saved."%}</strong>
	</p>
	{% endif %}
	<form method="post" action="{% url 'users.views.base_profile' %}" enctype="multipart/form-data">
		<fieldset>
			<legend>
				{% trans "change password" %}
			</legend>
			{% for field in f_pw %}
			<p>
				{{ field.errors }}
				<span>
					{{ field.label_tag }}
				</span>
				{{ field }}
			</p>
			{% endfor %}
		</fieldset>
		<fieldset>
			<legend>
				{% trans "change profile" %}
			</legend>
			{% for field in profile %}
			<p>
				{{ field.errors }}
				<span>
					{{ field.label_tag }}
				</span>
				{{ field }}
			</p>
			{% endfor %}
		</fieldset>
		<fieldset>
			{% for field in f_user %}
			<p>
				{{ field.errors }}
				<span>
					{{ field.label_tag }}
				</span>
				{{ field }}
			</p>
			{% endfor %}
		</fieldset>
		<p style="padding-top: 15px">
		<span>&nbsp;</span>
		<input class="submit" type="submit" value="{%trans 'change' %}"/>
		</p>
	</form>
</div>
{% endblock %}