{% extends BASE_PATH %}
{% load i18n %}
{%load cssfilter %}
{% block head %}

{% endblock %}
{% block content %}
<div class="my-3 p-3 bg-white rounded box-shadow">

		<form method="post" action="{% url 'users.views.register' %}">
			<fieldset class="form-group">
				<legend>{% trans "General User Data"%}</legend>
				{% for field in form %}
				<div class="row">
				{{ field.errors }}
				<label for ="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
				<div class="col-sm-10">
					{{ field|addclass:"form-control" }}
				</div>
				</div>
				{% endfor %}
			</fieldset>
			
			<fieldset class="form-group">
				<legend>{% trans "Profile"%}</legend>
				{% for field in f_profile %}
				<div class="row">
					{{ field.errors }}
					<label for ="{{field.id_for_label}}" class="col-sm-2 col-form-label">{{field.label}}</label>
					<div class="col-sm-10">
						{{ field|addclass:"form-control" }}
					</div>
				</div>
				{% endfor %}
			</fieldset>
			<div class="form-group row">
		    	<div class="col-sm-10">
		      		<button type="submit" class="btn btn-primary">{%trans 'register' %}</button>
		    	</div>
		  	</div>
		</form>
	</div>
{% endblock %}