{% extends BASE_PATH %}
{% block head %}

{% endblock %}
{% block content %}
<div class="my-3 p-3 bg-white rounded box-shadow">
	<div id="profile_left">
		{% if showuser.profile.avatar %}
		<img src="{{ STATIC_URL }}{{showuser.profile.avatar}}" />
		{% endif %}
		<p>
			<b>{{showuser.username}}</b>
		</p>
		{% for r in showuser.profile.get_rank.make_list %}
		<img src="{{ STATIC_THEME }}images/{{showuser.profile.get_rank.image}}" />
		{% empty %}
		<img src="{{ STATIC_THEME }}images/{{showuser.profile.get_rank.image}}" />
		{% endfor %}
		<br />
		Name: {{showuser.first_name}}	 {{showuser.last_name}}
		<br />
		{% if showuser.profile.website %}
		Website: <a href="{{showuser.profile.website}}">{{showuser.profile.website}}</a>
		<br />
		{% endif %}
	</div>
	<div id="content">
		Posts: {{showuser.profile.posts}}
		<br />
		Threads: {{showuser.profile.threads}}
	</div>
</div>
{% endblock %}
